.about p {
  color: #fff;
  font-size: 18px; }

.about .bio {
  margin: auto;
  width: 50%;
  float: right;
  margin-top: 25%; }
  .about .bio img {
    width: 5vh;
    float: right;
    margin: 6vh 4vh 0 0; }
  .about .bio .mini {
    font-size: 15px; }
