.about {
 // text-align: center;
 // padding-top: calc(50vh - 25px) ;
  p {
    color: #fff;
    font-size: 18px;
  }

  .bio {
    margin: auto;
    width: 50%;
    float: right;
    margin-top: 25%;
    img {
      width: 5vh;
      float: right;
      margin: 6vh 4vh 0 0;
    }
    .mini {
      font-size: 15px;
    }
  }
}
