section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  p {
    margin: 0;
  }
}

// .content {
//   width: 72vw;
//   margin: 0 auto;
//   background-color: #00000017;
//   height: 100vh;
// }

// .section1 {
//   background-color:#e0fff7;
// }

// .section2 {
//   background-color: rgb(206, 59, 55);
//   // background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
//   // background-color:#e0e0e0;
//  // link.color = '#1232d8';
// }

// .section3 {
//   background-color:#fcd1d1;
// }

// .section4 {
//   background-color:#D3FFB9;
// }

// .section5 {
//   background-color:#33373e;
// }

// background="#e0fff7" 
